@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tema global para el body */
body {
  @apply bg-background text-foreground;
}

/* Clases personalizadas para contenedores */
@layer components {
  .container {
    @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
  }

  .dropdown-menu {
    @apply bg-card border border-border rounded-md shadow-lg;
  }

  .menu-item {
    @apply hover:bg-accent hover:text-background 
           dark:hover:bg-accent-dark dark:hover:text-background 
           transition rounded-md px-4 py-2;
  }
}

/* Tarjetas */
.card {
  @apply bg-card border border-border rounded-lg shadow-md;
}

/* Texto secundario */
.muted-text {
  @apply text-muted;
}

html.dark body {
  @apply bg-background-dark text-foreground-dark;
}

.navbar-gradient {
  @apply bg-gradient-to-r from-gray-800 to-gray-900 dark:from-gray-900 dark:to-black;
}

.toast-success {
  background-color: var(
    --accent
  ); /* Color de éxito **
  color: var(--background); /* Texto contrastante */
  border: 1px solid var(--accent-dark); /* Borde más oscuro */
}

.toast-error {
  background-color: red; /*  var(--destructive); /* Color de error */
  color: var(--background); /* Texto contrastante */
  border: 1px solid var(--destructive-dark); /* Borde más oscuro */
}

.toast-info {
  background-color: var(--muted); /* Color informativo */
  color: var(--foreground); /* Texto contrastante */
  border: 1px solid var(--muted-dark); /* Borde más oscuro */
}

.toast-warning {
  background-color: var(--warning); /* Color de advertencia */
  color: var(--foreground); /* Texto contrastante */
  border: 1px solid var(--warning-dark); /* Borde más oscuro */
}
